# Supabase — get from supabase.com/dashboard > Settings > API
VITE_SUPABASE_URL=https://gptwalvbuqinkjcvuqql.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwdHdhbHZidXFpbmtqY3Z1cXFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1NzM2MTYsImV4cCI6MjA5MTE0OTYxNn0.sMN39e76rYUTGdLp7YGThalq3NVHrMqKbwHnNINXQAY

# Stripe — get from dashboard.stripe.com/apikeys
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51RpuD1I9de6vVGRgPamgwEtOWNeh9W6v8HAyPnpn0V4RXkNPAPVcBcVQValyLNQx94OZioNBoIeiadtBWl3oV6un008gtXrWOF
